.comments-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Roboto, Arial;
}

#comment-input {
    color: white;
    background-color: #181818;
    width: 500px;
    padding: 8px;
    margin-bottom: 8px;
}


#post-comment {
    float: right;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

button {
    padding: 8px 16px;
    background-color: gray;
    color: black;
    border: none;
    cursor: pointer;
}

.editing {
    background-color: #f0f0f0;
}